In [ ]:
print("hello")

hello

In [ ]:
#Fungsi print("") untuk mencetak sesuatu
print("Hello, World")

Hello, World

In [ ]:
"""komemntar berguna untuk memberikan penjelasan mengenai fungsi dari scrip yang telah dibuat"""
print("My name is Sufajeri")

My name is Sufajeri

In [ ]:
#Mengenal variabel, Variabel adalah wadah untuk menyimpan nilai data
x="Sul"
y="Fajri"
print(x)
print(y)

Sul
Fajri

In [ ]:
"""Sebuah variabel dapat memiliki nama yang pendek (seperti x dan y) atau
nama yang lebih deskriptif (seperti nama, kodeMatakuliah, total_siswa)."""
namaprodi="Bisdig"
nama_prodi="Bisdig"
print(namaprodi)
print(nama_prodi)

Bisdig
Bisdig

In [ ]:
"""Mengganti nilai variabel, Variabel tidak perlu dideklarasikan dengan tipe tertentu,
dan bahkan dapat diubah nilai dan tipenya setelah ditetapkan."""
# x bernilai sul
x= "sul"

# x diinisialisasikan ulang menjadi fajri
x= "fajri"
print(x)

fajri

In [ ]:
#mengecek tipe data jenis apa pun dengan menggunakan fungsi type() :
x= "Himpunan Bisnis Digital"
print(type(x))

<class 'str'>

In [ ]:
#String adalah tipe data yang digunakan untuk menyimpan barisan karakter.

print("Hello")
print('Hello')

a= """ini budi,
ini bapak budi,
ini mama budi."""

print(a)

Hello
Hello
ini budi,
ini bapak budi,
ini mama budi.

In [ ]:
"""String dapat ditambahkan atau digabungkan menggunakan proses yang
disebut dengan concate"""

x="Sul"
y="Fajri"
print(x + y)

print(x + ' ' +y)

SulFajri
Sul Fajri

In [ ]:
"""Dengan slicing akan membuat rentang karakter sesuai dengan keinginan kita
Dengan menentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua,
untuk mengembalikan bagian dari string."""

b = "Hello, World"
print(b[2:5])
print(b[7:])

llo
World

In [ ]:
#Escape Characters
#Menyisipkan karakter yang ilegal dalam string, gunakan Escape Character.

#format yg salah dalam penggunaan kutip di string
#txt = "Himpunan "Mahasiswa" Bisnis digital"

#format yang benar menggunakan kutip dengan escape characters
txt = "Himpunan \"Mahasiswa\" Bisnis Digital"

print(txt)

Himpunan "Mahasiswa" Bisnis Digital

In [ ]:
"""String Methods
Python memiliki methods bawaan yang dapat digunakan pada string."""

txt = "Hello World!"
#upper() akan mengubah huruf menjadi huruf kapital semua

print(txt.upper())

HELLO WORLD!

In [ ]:
"""Int, atau bilangan bulat adalah bilangan bulat, positif atau negatif,
tanpa desimal, dengan panjang tak terbatas."""

x = 1
y = 123456789
z = -12345

print(x)
print(y)
print(z)

1
123456789
-12345

In [ ]:
"""Integer methods
Python memiliki modul yang disebut random yang dapat
digunakan untuk membuat angka acak"""

import random

print(random.randrange(1, 10))

8

In [ ]:
"""Python Booleans
Boolean mewakili salah satu dari dua nilai: True atau False."""

print(10 > 9)  #hasil akan true
print(10 == 9) #hasil akan false
print(10 < 9)  #hasil akan false

True
False
False

In [ ]:
"""Python Operators
Operator digunakan untuk melakukan operasi pada variabel atau sebuah nilai."""
#Python memiliki beberapa macam operator sebagai berikut

#Arithmetic Operators

x = 5
y = 2
print(x + y) #penjumlahan
print(x - y) #pengurangan
print(x * y) #perkalian
print(x / y) #pembagian

print(x % y) #modulus
print(x ** y) #exponentiation
print(x // y) #floor division

7
3
10
2.5
1
25
2

In [ ]:
#Comparison Operators

x = 5
y = 2
print(x == y) #sama dengan
print(x != y) #tidak sama
print(x > y) #lebih dari
print(x < y) #kurang dari
print(x >= y) #lebih dari/sama dengan
print(x <= y) #kurang dari/sama dengan

False
True
True
False
True
False

In [ ]:
#Logical Operators

x = 1
print(x < 5 and x < 10)     #hasilnya true jika kedua nilai bernilai true
print(x < 5 or x < 10)      #hasilnya true jika salah satu nilai bernilai true
print(not(x < 5 or x < 10)) #membalikkan hasilnya
print(not(x > 5 and x > 10))#membalikkan hasilnya

True
True
False
True

In [ ]:
#Python List

thisislist = ['apple', 'banana', 'cherry']
print(thisislist)

['apple', 'banana', 'cherry']

In [ ]:
#List Items

thisislist = ['buku', 21, True]
print(thisislist)
print(type(thisislist))

['buku', 21, True]
<class 'list'>

In [ ]:
#Mengambil nilai di dalam List

buah = ['apel', 'anggur', 'mangga', 'jeruk']
# Kita mengambil nilai yang indexnya adalah 2
print(buah[2])

mangga

In [ ]:
#Mengganti nilai di dalam list

buah =['oranges', 'apel', 'mangga', 'durian']

# mengubah nilai pada index ke-2
buah[2] = 'kelapa'
print(buah)

['oranges', 'apel', 'kelapa', 'durian']

In [ ]:
#List methods

buah = ['jeruk', 'apel', 'mangga', 'durian']

# menambah manggis dengan method append
buah.append('manggis')
print(buah)

['jeruk', 'apel', 'mangga', 'durian', 'manggis']

In [ ]:
"""Python Dictionary
Dictionary digunakan untuk menyimpan nilai data yang pasangan "kunci" : "nilai"""

bisdig = {
    'nama' : 'Himpunan Mahasiswa',
    'tahun dibuat' : 2022,
    'fakultas' : 'Ekonomi dan Bisnis',
    'daftar kegiatan' : ['Digitalk, DigiClass']
}
print(bisdig)

{'nama': 'Himpunan Mahasiswa', 'tahun dibuat': 2022, 'fakultas': 'Ekonomi dan Bisnis', 'daftar kegiatan': ['Digitalk, DigiClass']}

In [ ]:
#Mengambil nilai dari Dictionary

mahasiswa = {
    'nama' : 'icsan',
    'umur' : 20,
    'hobi' : ['main game', 'baca buku']
}
print(mahasiswa['umur'])

20

In [ ]:
#Mengubah nilai dari Dictionary

mahasiswa = {
    'nama' : 'icsan',
    'umur' : 20,
    'hobi' : ['main game', 'baca buku']
}
mahasiswa['umur'] = 21
print(mahasiswa)

{'nama': 'icsan', 'umur': 21, 'hobi': ['main game', 'baca buku']}

In [ ]:
#Dictionary Item

mahasiswa = [{
    'nama' : 'Icsan',
    'hobi' : 20,
    'umur' : ['main game', 'baca buku']
},
{
    'nama' : 'Zulham',
    'hobi' : 20,
    'umur' : ['main game', 'baca buku']
}]
print(mahasiswa)

[{'nama': 'Icsan', 'hobi': 20, 'umur': ['main game', 'baca buku']}, {'nama': 'Zulham', 'hobi': 20, 'umur': ['main game', 'baca buku']}]

In [ ]:
#Dictionary methods

mobil = {
    'merek' : 'Ford',
    'model' : 'Mustang',
    'tahun' : 1964
}
mobil.pop('model') #menghapus key dan value yang di kehendaki
print(mobil)

{'merek': 'Ford', 'tahun': 1964}

In [ ]:
#Python If else

a = 33
b = 200
if b > a:
  print('b lebih besar dari a')

b lebih besar dari a

In [ ]:
#Python Elif

a = 33
b = 33
if b > a:
  print('b lebih besar dari a')
elif a == b:
  print('a sama dengan b')

a sama dengan b

In [ ]:
#Python Else
#Else akan aktif jika statement sebelumnya tidak menghasilkan nilai True

a = 200
b = 33
if b > a:
  print('b lebih besar dari a')
elif a == b:
  print('a sama dengan b')
else:
  print('a lebih besar dari b')

a lebih besar dari b

In [ ]:
#Python While Loop
#Dengan perulangan while kita dapat mengeksekusi satu set pernyataan selama kondisinya benar.

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#While Else
#Dengan statement else pada While kita akan dijalankan jika kondisi while tidak lagi True

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print('l sudah dari 6')

1
2
3
4
5
l sudah dari 6

In [ ]:
#Python For Loops
#Perulangan For digunakan untuk mengulangi urutan, seperti list dan dict.

buah = ['apel', 'pisang', 'mangga']
for x in buah:
  print(x)

apel
pisang
mangga

In [ ]:
#For Loops Else
#Else dalam for loop akan dieksekusi ketika loop selesai:

for x in range(0, 10, 1):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
"""Membuat Function
Function adalah blok kode yang hanya berjalan ketika dipanggil.
Di Function kita meneruskan data, yang dikenal sebagai parameter ke dalam suatu fungsi."""

def my_function(): 
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
#Arguments
"""Informasi dapat diteruskan ke fungsi sebagai argumen. Argumen ditentukan setelah nama
fungsi, di dalam tanda kurung."""

def perkenalan(nama):
  print("Hai, nama saya " + nama)

perkenalan("sul")
perkenalan("fajri")
perkenalan("zulham")

Hai, nama saya sul
Hai, nama saya fajri
Hai, nama saya zulham

In [ ]:
data = ' Dia 10 tapi dia ateis. Dia 10 tapi dia bilang "halo, dek". Dia 10 tapi dia beda agama. Dia 10 tapi dia banyak duit. Dia 10 tapi dia lama bales chat. Dia 10 tapi dia ga suka sama kamu. Dia 10 tapi dia suka overthinking. Dia 10 tapi dia cemburuan. Dia 10 tapi dia manja. Dia 10 tapi dia ga dipublish. Dia 10 tapi dia cuma masa lalu. Dia 10 tapi dia kpopers. Dia 10 tapi dia percaya zodiak. Dia 10 tapi dia cringe. Dia 10 tapi dia cuek. Dia 10 tapi dia chindo. Dia 10 tapi dia terlalu baik. Dia 10 tapi dia selalu sibuk. Dia 10 tapi dia pinter. Dia 10 tapi dia selalu nyepelain hal hal kecil. Dia 10 tapi dia perhatian. Dia 10 tapi dia friendly banget. Dia 10 tapi dia pemuda pancasila. Dia 10 tapi dia penakut. Dia 10 tapi dia toxic. Dia 10 tapi dia pesimis. Dia 10 tapi dia pemalas. Dia 10 tapi dia karakter fiksi. Dia 10 tapi dia udah ada yang punya. Dia 10 tapi dia lucuu. Dia 10 tapi dia typingnya alay'
data_dipisah = data.split('.')
data_dirapikan = []

#print(len(data_dipisah))
for x in data_dipisah : 
  data_dirapikan.append(x[17:])

#print(data_dirapikan)

def tiktok():
  nilai = random.randrange(5, 10)
  tapi = random.randrange(0, len(data_dipisah) - 1)

  print("Dia " + str(nilai) + " tapi dia " + data_dirapikan[tapi])

In [ ]:
tiktok()

Dia 7 tapi dia karakter fiksi